{% extends 'base.html.twig' %}

{% block title %} Contactez-nous {% endblock %}

{% block body %}
    <div class="breadcrumb-bar">
        <div class="container">
            <div class="row align-items-center text-center">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title">Votre Avis nous intéresse </h2>
                </div>
            </div>
        </div>
    </div>

    <section class="contact-section">
        <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        {{ include ('components/flash_message.html.twig') }}
                    </div>

                    {{ form_start(formulaire, {'attr': {'id': 'form_contact'}}) }}
                    <div id="liste_erreurs" class="my-custom-class-for-errors">
                        {{ form_errors(formulaire) }}
                    </div>
                    <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>

                    <input type="hidden" name="contact_jeton" id="contact_jeton" value=""/>

                    <div class="row">
                        <div class="col-md-12">
                            {{ form_label(formulaire.fullname) }} <span class="text-danger">*</span>
                            <div class="form-error">
                                {{ form_errors(formulaire.fullname) }}
                            </div>
                            {{ form_widget(formulaire.fullname, {'attr': {'class': 'form-control'} }) }}
                        </div>

                        <div class="col-md-12">
                            {{ form_label(formulaire.note) }} <span class="text-danger">*</span>
                            <div class="form-error">
                                {{ form_errors(formulaire.note) }}
                            </div>
                            {{ form_widget(formulaire.note, {'attr': {'class': 'form-select js-choice'} }) }}
                        </div>

                        <div class="col-md-12" style="margin-top: 10px;">
                            {{ form_label(formulaire.comment) }} <span class="text-danger">*</span>
                            <div class="form-error">
                                {{ form_errors(formulaire.comment) }}
                            </div>
                            {{ form_widget(formulaire.comment, {'attr': {'class': 'form-control', 'rows': 10} }) }}
                        </div>
                    </div>

                    <div class="col-md-12" style="margin-top: 10px;">
                        <button class="btn btn-lg btn-primary mb-0" type="submit" id="envoyer-contact">
                            Envoyer
                        </button>
                    </div>
                    {{ form_rest(formulaire) }}
                    {{ form_end(formulaire) }}
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}
